{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Video Game Collector</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
      <a href="/">
        <img 
          src="" 
          alt=""
        >
      </a>
    <nav>
      <ul>
        <li><a href="{% url 'games_index' %}">All Games</a></li>
        <li><a href="{% url 'games_create' %}">Add a Game</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>