{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Game List</h1>
</section>

<section class="card-container">
  {% for game in games %}
    <div class="card">

      <div class="card-content">
        <div class="card-img-container">
        <a href="{% url 'games_detail' game.id %}">
        </div>
        <h2 class="card-title">{{ game.name }}</h2>
        <p><small>{{ game.genre }}</small></p>
        <p><small>{{ game.description }}</small></p>
        <p><small>{{ game.releaseDate }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}